<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1056675116208-lqqsqg6hc614asnm6dkopj55eqm7n5dh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1056675116208-lqqsqg6hc614asnm6dkopj55eqm7n5dh</string>
	<key>API_KEY</key>
	<string>AIzaSyDQn80PWn_WUoqDNcAwzEjAWDtlNpHcXas</string>
	<key>GCM_SENDER_ID</key>
	<string>1056675116208</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PicORY</string>
	<key>PROJECT_ID</key>
	<string>testapp-66e2f</string>
	<key>STORAGE_BUCKET</key>
	<string>testapp-66e2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1056675116208:ios:09e7a3f2f616a3da5f3775</string>
	<key>DATABASE_URL</key>
	<string>https://testapp-66e2f.firebaseio.com</string>
</dict>
</plist>